/* Fonts from google Fonts and web kits made using Font Squirrel */
@font-face {
    font-family: 'goturegular';
    src: url('Fonts/gotu-regular-webfont.woff2') format('woff2'),
         url('Fonts/gotu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('Fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('Fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
font-size: 16px;
font-family: 'goturegular', sans-serif;
box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 1.5;
  letter-spacing: 1.25px;
  word-spacing: 3px;
}

/* Layout */
header {
  padding: 10px;

}

section {
  float: left;
  width: 50%;
  padding: 20px
}

aside {
  float: left;
  width: 30%;
  padding: 20px
}

nav {
  float: left;
  width: 20%;
  padding: 25px;
}

footer {
  clear: both; /* Prevents floating items to the left and right */
  padding: 20px;
  margin:20px;
  border-top: 5px solid #CB904D;
  border-bottom: 5px solid #CB904D;
}

h1{
font-family: 'ralewaymedium', sans-serif;
border-bottom: 5px solid #CB904D;
padding: 5px;
text-align: center;
}

h2{
font-family: 'ralewaymedium', sans-serif;
border-bottom: 5px solid #CB904D;
}

ul{
  list-style-type: square;

}

/* Stying the links */
a{
  outline:none;
  text-decoration: none;
}

a:link{
  border-bottom: 1px solid;
  color: #A8763E;

}

a:visited{
  border-bottom: 1px solid;
  color: #75485E;

}

a:focus{
  border-bottom:none;
  color: #CB904D;

}

a:hover{
  border-bottom: none;
  color: #CB904D;
}

a:active{
  border-bottom: 1px solid;
  color: #CB904D;
}


/* Style the navigation menu, set the style of the list within nav to have no style.*/

nav ul{
  display: block;
  width: 100%;
  list-style: none;
  padding: 5px;
}

/* Style the a elements in nav to have a border and all be the same size*/
nav a{
  display: inline-block;
  width: 200px;
  border-width: 5px;
  border-style: solid;
  border-color: #CB904D ;
  padding: .5em;
  height: 55px;
  margin: 5px;
}


* { /* Sets all elements to have the box sizing border box which allows the nav to be in the right place */
  box-sizing: border-box;
}